@model Platform.Entity.Entity.Actividad

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Actividad</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre)
                @Html.ValidationMessageFor(model => model.nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha_inicio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha_inicio)
                @Html.ValidationMessageFor(model => model.fecha_inicio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha_fin, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha_fin)
                @Html.ValidationMessageFor(model => model.fecha_fin)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.descripcion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descripcion)
                @Html.ValidationMessageFor(model => model.descripcion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Proyecto_id, "Proyecto_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Proyecto_id", String.Empty)
                @Html.ValidationMessageFor(model => model.Proyecto_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Integrante_id, "Integrante_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Integrante_id", String.Empty)
                @Html.ValidationMessageFor(model => model.Integrante_id)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
