@model Platform.Entity.Entity.Integrante

@{
    ViewBag.Title = "Details";
}

<h2>Detalle</h2>

<div>
    <h4>Integrante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cargo.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cargo.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proyecto.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proyecto.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.cedula)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Volver", "Index")
</p>
