@model Platform.Entity.Entity.Cargo

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Cargo</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre)
                @Html.ValidationMessageFor(model => model.nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.salario, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.salario)
                @Html.ValidationMessageFor(model => model.salario)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.horario, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.horario)
                @Html.ValidationMessageFor(model => model.horario)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Proyecto_id, "Proyecto_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Proyecto_id", String.Empty)
                @Html.ValidationMessageFor(model => model.Proyecto_id)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Editar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
